body {
    background: #F0D9B5;
    overflow: hidden;
    height: 100vh;
}

#root {
    height: 100%;
    width: 100%;
    perspective: 600px;
}

#checkerboard {
    position: absolute;
    bottom: -30%;
    right: -60%;
    height: 150%;
    width: 200%;
    transform: rotateX(75deg);
    transform-origin: center center;
    transform-style: preserve-3d;
    background-color: #F0D9B5;
    background-size: 100px 100px;
    background-position: 0 0, 50px 50px;
    background-image: linear-gradient(45deg, #B58863 25%, transparent 25%, transparent 75%, #B58863 75%, #B58863), linear-gradient(45deg, #B58863 25%, transparent 25%, transparent 75%, #B58863 75%, #B58863);
    -webkit-animation: move-background 3s linear infinite;
    animation: move-background 0.5s linear infinite;
}
#checkerboard:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#F0D9B5, transparent);
}

@-webkit-keyframes move-background {
    to {
        background-position: 0 100%, 50% 150%;
    }
}

@keyframes move-background {
    to {
        background-position: 0 100px, 50px 150px;
    }
}